<!doctype html>
<html lang="zh">
<head>
    <% var opts = htmlWebpackPlugin.options; %>
    <meta charset="UTF-8"/>
    <title><%= opts.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/sdk/sdk.css"/>
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/font-awesome/css/font-awesome.css"/>-->
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/lib/themes/cxd.css"/>-->
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/lib/themes/dark.css"/>-->
</head>
<body>
<div id="root">
    <div id="amis-root"></div>
</div>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/amis/sdk/sdk.js"></script>
</body>
</html>
