<!doctype html>
<html lang="zh">
<head>
    <% var opts = htmlWebpackPlugin.options; %>
    <meta charset="UTF-8"/>
    <title><%= opts.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/sdk/sdk.css"/>
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/font-awesome/css/font-awesome.css"/>-->
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/lib/themes/cxd.css"/>-->
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/amis/lib/themes/dark.css"/>-->
    <!--<link rel="stylesheet" href="<%= opts.urlPrefix %>public/antd/dist/antd.<%= opts.isDevMode ? '' : 'min.' %>css"/>-->
    <link rel="stylesheet" href="<%= opts.urlPrefix %>public/antd/dist/antd.compact.<%= opts.isDevMode ? '' : 'min.' %>css"/>
    <style>
        html, body, #app-root {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app-root">
</div>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/react/umd/react.profiling.min.js"></script>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/react/umd/<%= opts.isDevMode ? 'react.development.js' : 'react.production.min.js' %>"></script>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/react-dom/umd/<%= opts.isDevMode ? 'react-dom.development.js' : 'react-dom.production.min.js' %>"></script>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/moment/min/moment-with-locales.<%= opts.isDevMode ? '' : 'min.' %>js"></script>
<!--<script type="text/javascript" src="<%= opts.urlPrefix %>public/@ant-design/icons/dist/index.umd.<%= opts.isDevMode ? '' : 'min.' %>js"></script>-->
<script type="text/javascript" src="<%= opts.urlPrefix %>public/antd/dist/antd-with-locales.<%= opts.isDevMode ? '' : 'min.' %>js"></script>
<script type="text/javascript" src="<%= opts.urlPrefix %>public/amis/sdk/sdk.js"></script>
</body>
</html>
